# fly.toml app configuration file for meeting-service
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meeting-service'
primary_region = 'bom'

[build]
  # Fly will automatically use your Dockerfile

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

# Health checks
[checks]
  [checks.health]
    grace_period = "30s"
    interval = "15s"
    method = "get"
    path = "/health"
    port = 8080
    timeout = "10s"
    type = "http"
